/* Layout */
body {

}

.container-main {
    margin-top: 56px;
    padding: 8px 12px 2rem;
}

.footer-main {
    margin-top: auto;
}

/* Rules Media - First Mobile */
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 576px) {
    .container-main {
        padding: 12px 2rem 2rem;
    }
}

@media only screen and (min-width: 992px) {
    .container-main {
        padding: 12px 4rem 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .container-main {
        padding: 12px 15rem 3rem;
    }
}

@media only screen and (min-width: 1440px) {
}


